body {
  margin: 0;
  padding: 0;
}

// Colors
$prime: #ffffff;
$second: #dcdcdc;

$highlight: #1d4e89;
$disabled: #172f48;

$error: #bd4646;
$correct: #48ad41;

// Mixins
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Font
$font: 'Nunito', sans-serif;
